@use "../../../assets/styles/main.scss" as global;

#swatch {
  @include global.full-container-size;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  & p {
    font-size: 1.4rem;
    font-weight: 700;
    flex: 1;
  }

  & .swatch-boxes {
    flex: 2;
    display: flex;
    @include global.full-container-size;
    justify-content: space-between;
    gap: 0.6rem;

    & .swatch-box {
      flex-grow: 1;

      &.current {
        border: 2px solid white;
        outline: 1px solid global.$secondary-green;
        padding: 1rem;
      }
    }
  }
}

#swatch.cart-overlay-item {
  gap: 0.7rem;
  height: 4.5rem;

  & .swatch-boxes {
    gap: 0.9rem;
    width: 62%;
  }
}
