@use "../../../assets/styles/main.scss" as global;

#swatch {
  @include global.full-container-size;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  & p {
    font-size: 1.4rem;
    font-weight: 700;
    flex: 1;
  }

  & .swatch-boxes {
    flex: 2;
    display: flex;
    @include global.full-container-size;
    justify-content: space-between;
    gap: 0.6rem;

    &.disabled {
      pointer-events: none;
    }

    & .swatch-box {
      flex-grow: 1;

      &.current {
        border: 2px solid white;
        outline: 1px solid global.$secondary-green;
        padding: 1rem;
        flex-grow: 0.2;
      }
    }
  }
}

#swatch.cart-overlay-item {
  gap: 0.7rem;

  & p {
    font-size: 1rem;
    font-weight: 400;
    flex: 1;
  }

  & .swatch-boxes {
    gap: 0.4rem;
    padding-left: 0.3rem;
  }

  & .swatch-box {
    height: 1.6rem;

    &.current {
      padding: 0.4rem;
      flex-grow: 0.4;
    }
  }
}
