@use "../../../assets/styles/main.scss" as global;

#cart-image-card {
  @include global.full-container-size;
  position: relative;

  & .item-image {
    @include global.full-container-size;
  }

  & .image-btns {
    position: absolute;
    top: 20.3rem;
    right: 4rem;
    z-index: 10;
    display: flex;
    width: 20px;
    height: 24px;
    gap: 0.6rem;
  }
}
