@use "../../../assets/styles/main.scss" as global;

#cart-item-summary {
  display: flex;
  justify-content: space-between;

  & .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
    gap: 1rem;

    & .sizes {
      height: 6rem;
    }

    & .colors {
      height: 5.6rem;
      width: 51%;
    }

    & .item-name {
      font-size: 2.4rem;
    }

    & .price-tag {
      font-size: 2rem;
    }

    & .text-attribute {
      height: 6rem;
    }
  }

  & .right {
    display: flex;
    gap: 1.8rem;

    & .cart-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      & .vertical-btns {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      & .horizontal-btns {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        & .delete-cartItem-btn {
          line-height: 0;

          background-color: transparent;
          & .delete-cartItem-icon {
            width: 45px;
          }
        }
      }
      & .cart-btn {
        width: 4rem;
      }

      & .cart-count {
        font-size: 2rem;
        font-weight: 500;
      }
    }

    & .cart-image-card {
      @include global.full-container-size;
    }
  }
}
