@use "../../../../src/assets/styles/main.scss" as global;

#app-button {
  @include global.full-container-size;
  background-color: global.$secondary-green;
  padding: 0.7rem;
  text-transform: uppercase;
  color: #fff;
  font-size: var(--app-button-font-size);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  font-weight: 600;

  &.secondary {
    color: black;
    border: 1px solid global.$primary-black;
    background-color: transparent;
  }

  &.current-size,
  &.tertiary {
    background-color: global.$primary-black;
    color: #fff;
  }

  &.cart-item-image-card {
    background-color: global.$primary-black;
    color: #fff;
  }
}
