@use "../../../../src/assets/styles/main.scss" as global;

#app-button {
  @include global.full-container-size;
  background-color: global.$secondary-green;
  padding: 1rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &.secondary {
    color: black;
    border: 1px solid global.$primary-black;
    background-color: transparent;
  }

  &.current-size {
    background-color: global.$primary-black;
    color: #fff;
  }

  &.cart-item-image-card {
    background-color: global.$primary-black;
    color: #fff;
  }
}
