@use "../../../assets/styles/main.scss" as global;

#item-name {
  @include global.full-container-size;
  font-size: 2rem;

  & .name {
    font-weight: 600;
  }

  & .brand {
    font-weight: 400;
  }
}

#item-name.cart-item-overlay {
  font-size: 1.7rem;
  line-height: 1.7em;
  & > * {
    font-weight: 400;
  }
}
