@use "../../../assets/styles/main.scss" as global;

#text-attribute {
  @include global.full-container-size;
  display: grid;
  gap: 0.2rem;

  grid-template-rows: 0.7fr 1fr;
  & p {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    height: 1fr;
  }

  & .attribute-boxes {
    display: flex;
    @include global.full-container-size;
    justify-content: space-between;
    gap: 0.6rem;

    &.disabled {
      pointer-events: none;
    }

    > .text-attribute-box {
      flex-grow: 1;
      color: black;
      border: 1px solid global.$primary-black;
      background-color: transparent;
    }

    & .current {
      background-color: global.$primary-black;
      color: #fff;
    }
  }
}

#text-attribute.cart-overlay-item {
  gap: 0.8rem;
  grid-auto-rows: 30% 2.5rem;
}
