@use "../../../assets//styles//main.scss" as global;

#categories {
  @include global.full-container-size;
  display: flex;
  justify-content: space-between;

  & button {
    padding: 2rem 2rem;
    background-color: transparent;
    font-weight: 400;
    font-size: 1.3rem;

    &:hover {
      color: global.$secondary-green;
      border-bottom: 1px solid global.$secondary-green;
    }

    &.current {
      color: global.$secondary-green;
      border-bottom: 1px solid global.$secondary-green;
    }
  }
}
