@use "../../../assets/styles/main.scss" as global;

#colors {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  & p {
    font-size: 1.4rem;
    font-weight: 700;
    flex: 1;
  }

  & .color-boxes {
    flex: 2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    & .color-box {
      flex-basis: 30%;

      &.current {
        border: 2px solid white;
        outline: 1px solid global.$secondary-green;
        padding: 1rem;
      }
    }
  }
}
