@use "../../../assets/styles/main.scss" as global;
#cart-overlay-item-card {
  height: 14rem;
  max-height: min-content;
  display: flex;
  justify-content: space-between;

  & .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap: 0.4rem;
    width: 80%;
    flex: 2;

    & .item-name {
      width: 100%;
    }

    & .price-tag {
      width: 100%;
      font-size: 1rem;
    }

    & .text-attributes {
      width: 62%;
    }

    & .swatch {
      width: 50%;
    }
  }

  & .right {
    display: flex;
    gap: 1rem;
    height: 100%;
    flex: 1;

    & .cart-btns {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      & .cart-btn {
        width: 2rem;
        height: 2rem;
      }

      & .cart-count {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    & .cart-image-card {
      height: 100%;

      & .cart-image {
        @include global.full-container-size;
      }
    }
  }
}
