@use "../../../assets/styles/main.scss" as global;

#sizes {
  @include global.full-container-size;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  & p {
    font-size: 1.4rem;
    font-weight: 700;
    flex: 1;
  }

  & .size-boxes {
    flex: 2;
    display: flex;
    @include global.full-container-size;
    justify-content: space-between;
    gap: 0.6rem;

    > .size-btn {
      flex-grow: 1;
    }
  }
}
